body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
    margin-top: 0;
    
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
a{
    text-decoration: none;
}
.login,.register{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin-top: 10rem;
        padding: 40px 80px 80px 80px; 
        background: #23463f;  
        border-radius: 15px ;         
}  
.btn{

    padding: 10px 20px 10px 20px;
    border-radius: 20%;
}
.btn-head{
    display: flex;
    justify-content: center;
}

.main-header{
   background-color:#2596be;
   height: 80px;
}
.add-btn{
    float: left;
    padding: 10px;
    margin:20px;
    border-radius: 20%;
    background-color: skyblue;
}
.space-for-excel-url{
    display: inline;
}

#Uname,#rUname{  
    width: 400px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass,#rPass{  
    width: 400px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log,#rlog{  
    width: 300px;  
    height: 30px;  
    border: none;  
    margin-left: 50px;
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
} 
#logout-btn{
    float: right;
    margin: 20px;
    background-color: #abdbe3;
    padding: 7px;
    border-radius: 5%;
} 

#log:hover,#rlog:hover,.add-btn:hover{
   background-color: grey;
   cursor: pointer;
}
.btn:hover,.fa-trash-alt:hover{
    cursor: pointer;
}
